<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      .card {
        background-image: linear-gradient(
          rgb(233, 143, 158),
          rgb(98, 216, 196)
        );
      }
    </style>
  </head>
  <body>
    <div class="container my-3">
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3">
        <div class="col">
          <div class="card">
            <div class="card-header">Bootstrap session</div>
            <img src="/images/css.jpg" alt="card1" class="card-img-top" />
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure,
                ipsum nobis ea maxime hic perspiciatis ullam eius ut sed culpa
              </p>
            </div>

            <div class="card-footer text-muted">last updated at 2pm</div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">Bootstrap session</div>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure,
                ipsum nobis ea maxime hic perspiciatis ullam eius ut sed culpa
              </p>
            </div>
            <img src="/images/css.jpg" alt="card1" class="card-img-bottom" />
            <div class="card-footer text-muted">last updated at 2pm</div>
          </div>
        </div>
        <div class="col">
          <div class="card overflow-hidden" style="height: 400px">
            <div class="card-header">Bootstrap session</div>
            <img src="/images/css.jpg" alt="card1" class="card-img-top" />
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure,
                ipsum nobis ea maxime hic perspiciatis ullam eius ut sed culpa
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore at distinctio voluptate ipsa est cumque deserunt quae
                eaque autem temporibus repellat, harum in eius reiciendis
                cupiditate maiores officiis blanditiis beatae!
              </p>
            </div>

            <div class="card-footer text-muted">last updated at 2pm</div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">Bootstrap session</div>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure,
                ipsum nobis ea maxime hic perspiciatis ullam eius ut sed culpa
              </p>
            </div>
            <img src="/images/css.jpg" alt="card1" class="card-img-bottom" />
            <div class="card-footer text-muted">last updated at 2pm</div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">Bootstrap session</div>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure,
                ipsum nobis ea maxime hic perspiciatis ullam eius ut sed culpa
              </p>
            </div>
            <img src="/images/css.jpg" alt="card1" class="card-img-bottom" />
            <div class="card-footer text-muted">last updated at 2pm</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
