<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NAVBAR</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      nav a:link {
        color: rgb(185, 19, 185);
        font-size: 18px;
      }
      nav a:visited {
        color: rgb(189, 18, 189);
      }
      nav a:hover {
        color: rgb(211, 114, 130) !important;
      }

      .drop {
        background-color: rgb(39, 39, 39);
      }
      /* aria - Accisble rich internet applications => accisible to disables people */
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark">
      <div class="container">
        <a href="#" class="navbar-brand">
          <img
            src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
            alt=""
            width="30"
            height="24"
          />bootstrap</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#boostrapnav"
          aria-controls="boostrapnav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i
            class="fa-solid fa-bars"
            style="color: rgb(189, 18, 189); font-size: 25px"
          ></i>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="boostrapnav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/home " class="nav-link active" aria-current="page"
                >home</a
              >
            </li>
            <li class="nav-item">
              <a
                href="/contact"
                class="nav-link"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="contact information"
                >contact</a
              >
            </li>
            <li class="nav-item">
              <a href="/home" class="nav-link">login</a>
            </li>
            <!-- ------------dropdown in navbar----------- -->
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expand="false"
                id="dropdown-menu"
                role="button"
              >
                Follow us
              </a>
              <ul
                class="dropdown-menu dropdown-menu-start drop"
                aria-labelledby="#dropdown-menu"
              >
                <li><a href="#" class="dropdown-item">first</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a href="#" class="dropdown-item">second</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a href="#" class="dropdown-item">third</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="/home" class="nav-link">docs</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <script>
      var tooltipTriggerList = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="tooltip"]')
      );
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl, {});
      });
      //   var event = document.getElementById("example");
      //   var tooltip1 = new bootstrap.Tooltip(event);
    </script>
  </body>
</html>
